## .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp

## Node.js
node_modules/
npm-debug.log*

## ASP.NET
appsettings.Development.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## OS
.DS_Store
Thumbs.db
